# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin
/target
.project
.classpath
.settings

# Dynamically generated pom
dependency-reduced-pom.xml

# Vim .swp files
**/*.swp

# Intellij files
**/*.iml*
**/*.idea
../.idea

changes.txt
lastClass.txt
.vscode

# Compiled class files
**/target/*

!**/.gitignore

# Python virtual environment
/venv/*
/supplemental/*.tar
/supplemental/*.tgz
migration goals e-mail.txt
migration-goals-e-mail.txt
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_2/example.model
knarr-runtime/galette-output-multivar-0_2/example.model2
knarr-runtime/galette-output-multivar-0_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_2/vsum/models.models
knarr-runtime/galette-output-multivar-0_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_3/example.model
knarr-runtime/galette-output-multivar-0_3/example.model2
knarr-runtime/galette-output-multivar-0_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_3/vsum/models.models
knarr-runtime/galette-output-multivar-0_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_0/example.model
knarr-runtime/galette-output-multivar-1_0/example.model2
knarr-runtime/galette-output-multivar-1_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_0/vsum/models.models
knarr-runtime/galette-output-multivar-1_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_1/example.model
knarr-runtime/galette-output-multivar-1_1/example.model2
knarr-runtime/galette-output-multivar-1_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_1/vsum/models.models
knarr-runtime/galette-output-multivar-1_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_2/example.model
knarr-runtime/galette-output-multivar-1_2/example.model2
knarr-runtime/galette-output-multivar-1_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_2/vsum/models.models
knarr-runtime/galette-output-multivar-1_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_3/example.model
knarr-runtime/galette-output-multivar-1_3/example.model2
knarr-runtime/galette-output-multivar-1_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_3/vsum/models.models
knarr-runtime/galette-output-multivar-1_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_0/example.model
knarr-runtime/galette-output-multivar-2_0/example.model2
knarr-runtime/galette-output-multivar-2_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_0/vsum/models.models
knarr-runtime/galette-output-multivar-2_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_1/example.model
knarr-runtime/galette-output-multivar-2_1/example.model2
knarr-runtime/galette-output-multivar-2_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_1/vsum/models.models
knarr-runtime/galette-output-multivar-2_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_2/example.model
knarr-runtime/galette-output-multivar-2_2/example.model2
knarr-runtime/galette-output-multivar-2_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_2/vsum/models.models
knarr-runtime/galette-output-multivar-2_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_3/example.model
knarr-runtime/galette-output-multivar-2_3/example.model2
knarr-runtime/galette-output-multivar-2_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_3/vsum/models.models
knarr-runtime/galette-output-multivar-2_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_0/example.model
knarr-runtime/galette-output-multivar-3_0/example.model2
knarr-runtime/galette-output-multivar-3_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_0/vsum/models.models
knarr-runtime/galette-output-multivar-3_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_1/example.model
knarr-runtime/galette-output-multivar-3_1/example.model2
knarr-runtime/galette-output-multivar-3_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_1/vsum/models.models
knarr-runtime/galette-output-multivar-3_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_2/example.model
knarr-runtime/galette-output-multivar-3_2/example.model2
knarr-runtime/galette-output-multivar-3_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_2/vsum/models.models
knarr-runtime/galette-output-multivar-3_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_3/example.model
knarr-runtime/galette-output-multivar-3_3/example.model2
knarr-runtime/galette-output-multivar-3_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_3/vsum/models.models
knarr-runtime/galette-output-multivar-3_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_4/example.model
knarr-runtime/galette-output-multivar-0_4/example.model2
knarr-runtime/galette-output-multivar-0_4/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_4/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_4/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_4/vsum/models.models
knarr-runtime/galette-output-multivar-0_4/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_4/example.model
knarr-runtime/galette-output-multivar-1_4/example.model2
knarr-runtime/galette-output-multivar-1_4/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_4/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_4/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_4/vsum/models.models
knarr-runtime/galette-output-multivar-1_4/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_4/example.model
knarr-runtime/galette-output-multivar-2_4/example.model2
knarr-runtime/galette-output-multivar-2_4/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_4/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_4/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_4/vsum/models.models
knarr-runtime/galette-output-multivar-2_4/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_4/example.model
knarr-runtime/galette-output-multivar-3_4/example.model2
knarr-runtime/galette-output-multivar-3_4/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_4/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_4/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_4/vsum/models.models
knarr-runtime/galette-output-multivar-3_4/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-4_0/example.model
knarr-runtime/galette-output-multivar-4_0/example.model2
knarr-runtime/galette-output-multivar-4_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-4_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-4_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-4_0/vsum/models.models
knarr-runtime/galette-output-multivar-4_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-4_1/example.model
knarr-runtime/galette-output-multivar-4_1/example.model2
knarr-runtime/galette-output-multivar-4_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-4_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-4_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-4_1/vsum/models.models
knarr-runtime/galette-output-multivar-4_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-4_2/example.model
knarr-runtime/galette-output-multivar-4_2/example.model2
knarr-runtime/galette-output-multivar-4_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-4_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-4_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-4_2/vsum/models.models
knarr-runtime/galette-output-multivar-4_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-4_3/example.model
knarr-runtime/galette-output-multivar-4_3/example.model2
knarr-runtime/galette-output-multivar-4_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-4_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-4_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-4_3/vsum/models.models
knarr-runtime/galette-output-multivar-4_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-4_4/example.model
knarr-runtime/galette-output-multivar-4_4/example.model2
knarr-runtime/galette-output-multivar-4_4/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-4_4/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-4_4/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-4_4/vsum/models.models
knarr-runtime/galette-output-multivar-4_4/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_0/example.model
knarr-runtime/galette-output-multivar-0_0/example.model2
knarr-runtime/galette-output-multivar-0_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_0/vsum/models.models
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
amalthea-acset-integration/consistency/src/main/java/mir/reactions/amalthea2ascet/.Amalthea2ascetChangePropagationSpecification.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/reactions/amalthea2ascet/.ComponentContainerInsertedAsRootReaction.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/reactions/amalthea2ascet/.TaskCreatedReaction.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/reactions/amalthea2ascet/.TaskDeletedReaction.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.Amalthea2ascetRoutinesFacade.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.Amalthea2ascetRoutinesFacadesProvider.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreateAndRegisterRootComponentContainerRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreateAscetTaskRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreateInterruptTaskRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreatePeriodicTaskRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreateSoftwareTaskRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.CreateTimeTableTaskRoutine.java._trace
amalthea-acset-integration/consistency/src/main/java/mir/routines/amalthea2ascet/.DeleteTaskRoutine.java._trace
knarr-runtime/galette-output-multivar-0_-2147483620/example.model
knarr-runtime/galette-output-multivar-0_-2147483620/example.model2
knarr-runtime/galette-output-multivar-0_-2147483620/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483620/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483620/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483620/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483620/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483621/example.model
knarr-runtime/galette-output-multivar-0_-2147483621/example.model2
knarr-runtime/galette-output-multivar-0_-2147483621/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483621/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483621/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483621/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483621/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483622/example.model
knarr-runtime/galette-output-multivar-0_-2147483622/example.model2
knarr-runtime/galette-output-multivar-0_-2147483622/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483622/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483622/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483622/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483622/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483623/example.model
knarr-runtime/galette-output-multivar-0_-2147483623/example.model2
knarr-runtime/galette-output-multivar-0_-2147483623/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483623/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483623/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483623/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483623/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483624/example.model
knarr-runtime/galette-output-multivar-0_-2147483624/example.model2
knarr-runtime/galette-output-multivar-0_-2147483624/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483624/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483624/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483624/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483624/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483625/example.model
knarr-runtime/galette-output-multivar-0_-2147483625/example.model2
knarr-runtime/galette-output-multivar-0_-2147483625/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483625/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483625/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483625/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483625/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483626/example.model
knarr-runtime/galette-output-multivar-0_-2147483626/example.model2
knarr-runtime/galette-output-multivar-0_-2147483626/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483626/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483626/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483626/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483626/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483627/example.model
knarr-runtime/galette-output-multivar-0_-2147483627/example.model2
knarr-runtime/galette-output-multivar-0_-2147483627/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483627/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483627/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483627/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483627/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483628/example.model
knarr-runtime/galette-output-multivar-0_-2147483628/example.model2
knarr-runtime/galette-output-multivar-0_-2147483628/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483628/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483628/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483628/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483628/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483629/example.model
knarr-runtime/galette-output-multivar-0_-2147483629/example.model2
knarr-runtime/galette-output-multivar-0_-2147483629/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483629/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483629/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483629/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483629/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483630/example.model
knarr-runtime/galette-output-multivar-0_-2147483630/example.model2
knarr-runtime/galette-output-multivar-0_-2147483630/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483630/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483630/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483630/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483630/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483631/example.model
knarr-runtime/galette-output-multivar-0_-2147483631/example.model2
knarr-runtime/galette-output-multivar-0_-2147483631/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483631/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483631/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483631/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483631/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483632/example.model
knarr-runtime/galette-output-multivar-0_-2147483632/example.model2
knarr-runtime/galette-output-multivar-0_-2147483632/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483632/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483632/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483632/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483632/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483633/example.model
knarr-runtime/galette-output-multivar-0_-2147483633/example.model2
knarr-runtime/galette-output-multivar-0_-2147483633/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483633/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483633/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483633/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483633/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483634/example.model
knarr-runtime/galette-output-multivar-0_-2147483634/example.model2
knarr-runtime/galette-output-multivar-0_-2147483634/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483634/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483634/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483634/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483634/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483635/example.model
knarr-runtime/galette-output-multivar-0_-2147483635/example.model2
knarr-runtime/galette-output-multivar-0_-2147483635/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483635/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483635/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483635/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483635/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483636/example.model
knarr-runtime/galette-output-multivar-0_-2147483636/example.model2
knarr-runtime/galette-output-multivar-0_-2147483636/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483636/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483636/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483636/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483636/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483637/example.model
knarr-runtime/galette-output-multivar-0_-2147483637/example.model2
knarr-runtime/galette-output-multivar-0_-2147483637/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483637/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483637/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483637/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483637/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483638/example.model
knarr-runtime/galette-output-multivar-0_-2147483638/example.model2
knarr-runtime/galette-output-multivar-0_-2147483638/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483638/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483638/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483638/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483638/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483639/example.model
knarr-runtime/galette-output-multivar-0_-2147483639/example.model2
knarr-runtime/galette-output-multivar-0_-2147483639/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483639/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483639/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483639/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483639/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483640/example.model
knarr-runtime/galette-output-multivar-0_-2147483640/example.model2
knarr-runtime/galette-output-multivar-0_-2147483640/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483640/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483640/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483640/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483640/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483641/example.model
knarr-runtime/galette-output-multivar-0_-2147483641/example.model2
knarr-runtime/galette-output-multivar-0_-2147483641/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483641/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483641/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483641/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483641/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483642/example.model
knarr-runtime/galette-output-multivar-0_-2147483642/example.model2
knarr-runtime/galette-output-multivar-0_-2147483642/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483642/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483642/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483642/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483642/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483643/example.model
knarr-runtime/galette-output-multivar-0_-2147483643/example.model2
knarr-runtime/galette-output-multivar-0_-2147483643/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483643/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483643/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483643/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483643/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483644/example.model
knarr-runtime/galette-output-multivar-0_-2147483644/example.model2
knarr-runtime/galette-output-multivar-0_-2147483644/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483644/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483644/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483644/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483644/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483645/example.model
knarr-runtime/galette-output-multivar-0_-2147483645/example.model2
knarr-runtime/galette-output-multivar-0_-2147483645/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483645/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483645/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483645/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483645/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483646/example.model
knarr-runtime/galette-output-multivar-0_-2147483646/example.model2
knarr-runtime/galette-output-multivar-0_-2147483646/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_-2147483646/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_-2147483646/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_-2147483646/vsum/models.models
knarr-runtime/galette-output-multivar-0_-2147483646/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483647/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_-2147483648/vsum/uuid.uuid
knarr-runtime/src/test/java/edu/neu/ccs/prl/galette/concolic/knarr/runtime/AutomaticConstraintCollectionTest.java.disabled
knarr-runtime/src/test/java/edu/neu/ccs/prl/galette/concolic/knarr/runtime/EndToEndPathExplorationTest.java.disabled
knarr-runtime/src/test/java/edu/neu/ccs/prl/galette/concolic/knarr/runtime/IntegrationSwitchTest.java.disabled
