# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin
/target
.project
.classpath
.settings

# Dynamically generated pom
dependency-reduced-pom.xml

# Vim .swp files
**/*.swp

# Intellij files
**/*.iml*
**/*.idea
../.idea

changes.txt
lastClass.txt
.vscode

# Compiled class files
**/target/*

!**/.gitignore

# Python virtual environment
/venv/*
/supplemental/*.tar
/supplemental/*.tgz
migration goals e-mail.txt
migration-goals-e-mail.txt
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_2/example.model
knarr-runtime/galette-output-multivar-0_2/example.model2
knarr-runtime/galette-output-multivar-0_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_2/vsum/models.models
knarr-runtime/galette-output-multivar-0_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_3/example.model
knarr-runtime/galette-output-multivar-0_3/example.model2
knarr-runtime/galette-output-multivar-0_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-0_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-0_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-0_3/vsum/models.models
knarr-runtime/galette-output-multivar-0_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_0/example.model
knarr-runtime/galette-output-multivar-1_0/example.model2
knarr-runtime/galette-output-multivar-1_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_0/vsum/models.models
knarr-runtime/galette-output-multivar-1_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_1/example.model
knarr-runtime/galette-output-multivar-1_1/example.model2
knarr-runtime/galette-output-multivar-1_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_1/vsum/models.models
knarr-runtime/galette-output-multivar-1_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_2/example.model
knarr-runtime/galette-output-multivar-1_2/example.model2
knarr-runtime/galette-output-multivar-1_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_2/vsum/models.models
knarr-runtime/galette-output-multivar-1_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-1_3/example.model
knarr-runtime/galette-output-multivar-1_3/example.model2
knarr-runtime/galette-output-multivar-1_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-1_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-1_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-1_3/vsum/models.models
knarr-runtime/galette-output-multivar-1_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_0/example.model
knarr-runtime/galette-output-multivar-2_0/example.model2
knarr-runtime/galette-output-multivar-2_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_0/vsum/models.models
knarr-runtime/galette-output-multivar-2_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_1/example.model
knarr-runtime/galette-output-multivar-2_1/example.model2
knarr-runtime/galette-output-multivar-2_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_1/vsum/models.models
knarr-runtime/galette-output-multivar-2_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_2/example.model
knarr-runtime/galette-output-multivar-2_2/example.model2
knarr-runtime/galette-output-multivar-2_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_2/vsum/models.models
knarr-runtime/galette-output-multivar-2_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-2_3/example.model
knarr-runtime/galette-output-multivar-2_3/example.model2
knarr-runtime/galette-output-multivar-2_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-2_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-2_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-2_3/vsum/models.models
knarr-runtime/galette-output-multivar-2_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_0/example.model
knarr-runtime/galette-output-multivar-3_0/example.model2
knarr-runtime/galette-output-multivar-3_0/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_0/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_0/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_0/vsum/models.models
knarr-runtime/galette-output-multivar-3_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_1/example.model
knarr-runtime/galette-output-multivar-3_1/example.model2
knarr-runtime/galette-output-multivar-3_1/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_1/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_1/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_1/vsum/models.models
knarr-runtime/galette-output-multivar-3_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_2/example.model
knarr-runtime/galette-output-multivar-3_2/example.model2
knarr-runtime/galette-output-multivar-3_2/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_2/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_2/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_2/vsum/models.models
knarr-runtime/galette-output-multivar-3_2/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-3_3/example.model
knarr-runtime/galette-output-multivar-3_3/example.model2
knarr-runtime/galette-output-multivar-3_3/test_project.marker_vitruv
knarr-runtime/galette-output-multivar-3_3/galette-test-output/vsum-output.xmi
knarr-runtime/galette-output-multivar-3_3/vsum/correspondences.correspondence
knarr-runtime/galette-output-multivar-3_3/vsum/models.models
knarr-runtime/galette-output-multivar-3_3/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_0/vsum/uuid.uuid
knarr-runtime/galette-output-multivar-0_1/vsum/uuid.uuid
